:root {
  --primary: #1e90ff;
  --secondary: #144371;
  --light: #ecf0f1;
  --dark: #2c3e50;
  --accent: #e74c3c;
  --text: #333;
  --text-light: #7f8c8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--text);
  background-color: #f9f9f9;
  line-height: 1.7;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

/* Buttons */

.btn{
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 650;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    &:hover{
        opacity: 0.8;
        transform: translateY(-3px);
    }
}

.btn-outline{
    background-color: transparent;
    border: 2.5px solid var(--primary);
    color: var(--primary);

    &:hover{
        background-color: var(--primary);
        color: #fff;
    }
}